<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <meta name="description" content="Find common movies for any 2 actors/directors.">
    <meta name="author" content="Abhishek Malik, Ripu Singla">
    <meta name="keywords" content="they were in, together in, movies together, actors together in, actresses tohether in, actors, actresses, common movies, similar movies, recall movies, movie recall, recall, cast, cast in, cast together, cast together in, actor overlap, actress verlap, actor with director, actress with director, acted with, had act together" >
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
      <meta property="og:image" content="http://www.theywere.in/img/favicon.png"/>
      <meta property="og:image:secure_url" content="https://i.imgflip.com/7f9bw.jpg" />

    <title>They were in</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/sticky-footer.css">
    <link rel="stylesheet" href="css/ng-tags-input.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/animation.css"/>
    

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47866397-1', 'theywere.in');
      // ga('send', 'pageview');

    </script>
  </head>

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=115455141936536";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <!-- <div ng-view class="slide-animation"></div> -->
      <div id="main-content-div" ng-controller="Home" class="hidden">
        <!-- Begin page content -->
        <div onlinestatus class="container" style="padding-bottom:0.5em;">
          <div class="row">
              <div class="col-sm-12" >
                <h1 style="padding-top: 1.5em;" class="slide-reveal">They were in...</h1>
                <form role="form" ng-submit="fetchResults()">
                  <div class="form-group">

                      <!--<input type="text"  ng-model="actor_names" class="form-control reveal" id="actor-names" placeholder="Enter name of 2 actors separated by comma"-->
                      <!--typeahead="address for address in ac_search($viewValue)" typeahead-on-select="add_comma()"-->
                      <!--autocomplete="off" >-->


                      <tags-input ng-model="actor_names"
                                  custom-class="bootstrap"
                                  placeholder="Enter name of 2 actors separated by comma"
                                  replace-spaces-with-dashes="false"
                                  add-on-comma="true"
                                  add-on-space="false"
                                  tabindex="2"
                                  max-length="20">

                          <auto-complete source="ac_search($query)"
                                         min-length="0"
                                         max-results-to-show="5">
                          </auto-complete>
                      </tags-input>

                  </div>
                  <button type="submit" analytics-on="click" analytics-event="Search Initiated" analytics-category="search for actors" analytics-label="Actors searched for: {{actor_names}}" class="btn btn-lg btn-default" ng-submit="fetchResults()">Search</button>
                  <!-- <div class="input-group">
                    <input type="text" ng-model="actor_names" class="form-control" id="actor-names" placeholder="Enter name of 2 actors separated by comma">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div> -->
                </form>
              </div>
          </div>
        </div>
        <div class="visible-lg" style="position: fixed;width: 100%;">
          <div class="row">
              <div class="col-sm-12">
                  <div class="row">
                      <div class="col-sm-3 col-xs-3">
                          <a ng-href="http://www.imdb.com{{actor_link1}}"><img style="max-height:200px;" ng-show="actor1_pic_url" ng-src="{{actor1_pic_url}}" class="img-circle"></a>
                          <h5 class="reveal">{{actor_name1}}</h5>
                          <h5 class="reveal">{{actor1_dob}}</h5>
                      </div>
                      <div class="col-sm-6 col-xs-6"></div>
                      <div class="col-sm-3 col-xs-3">
                          <a ng-href="http://www.imdb.com{{actor_link2}}"><img  style="max-height:200px;" ng-show="actor2_pic_url" ng-src="{{actor2_pic_url}}" class="img-circle"></a>
                          <h5 class="reveal">{{actor_name2}}</h5>
                          <h5 class="reveal">{{actor2_dob}}</h5>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <img ng-show="alertmsg" src="{{big_momma_link}}" style="width:100%;">
                  <h4 ng-show="alertmsg" style="color: #000000">Hint: Enter 2 inputs...</h4>
                  <table class="table table-hover">
                      <tbody>
                          <tr ng-repeat="movie in movies | unique:'movie_id' | orderBy:'-year'" class="slide-reveal">
                              <th>
                                  <a ng-href="{{movie.link}}" style="color: #000;">{{movie.movie_name}}
                                      <small ng-show="movie.year" style="margin-top: 0px;"> ({{movie.year}})</small>
                                  </a>
                              </th>
                              <th>
                                  <p class="pull-right">{{movie.rating}}
                                      <small ng-show="movie.votes" style="margin-top: 0px;"> ({{movie.votes}} votes)</small>
                                  </p>
                              </th>
                          </tr>
                      </tbody>
                  </table>
                  <div class='col-sm-4' style="margin-left: 48%;margin-top: 5%;">
                    <span us-spinner="{lines: 17,length: 9,width: 2,radius: 22,corners: 1,rotate: 0,direction: 1,color: '#000',speed: 1.5,trail: 48,shadow: false,hwaccel: false,className: 'spinner',zIndex: 2e9}" spinner-key="spinner-1"></span>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted" style="margin-bottom:2px;">
          <strong>Developed by
            <a href="https://twitter.com/malikabhishek" analytics-on="click" analytics-event="Twitter Handle Clicked" analytics-category="Abhishek Malik">@malikabhishek</a> and
            <a href="https://twitter.com/ripusingla" analytics-on="click" analytics-event="Twitter Hanldle Clicked" analytics-category="Ripu Singla">@ripusingla</a>
          </strong><br>
          <strong>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.theywere.in" data-text="Find common movies for any 2 actors/directors." data-hashtags="angularjs,movies,sideprojects,weekendproject">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
            <g:plusone></g:plusone>
            <!-- <g:plus action="share"></g:plus> -->
            <div class="fb-like" data-href="http://www.theywere.in/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
          </strong>
        </p>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script> -->

    <!-- In Dev use:
  <script src="lib/angular/angular.js"></script>
  -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="lib/angular/angulartics.js"></script>
  <script src="lib/angular/angulartics-ga.js"></script>
  <script src="lib/angular/spin.min.js"></script>
  <script src="lib/angular/angular-spinner.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-resource.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
  <script src="js/ui-utils.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/jquery.xdomainajax.js"></script>
  <script src='https://cdn.firebase.com/v0/firebase.js'></script>
  <script src='https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js'></script>
  <script src='js/ng-tags-input.min.js'></script>
  </body>
</html>

