/* app css stylesheet */

html, body {
  font-family: 'Open Sans', sans-serif;
  /*background-color: #333;*/
  /*background-color: #20bdbe;*/
  /*background-color: #49b571;*/
  /*background-color: #eb575c;*/
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
  /*box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}

.bootstrap .tags {
    /*background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
    display: block;
    width: 100%;
    /*height: 34px;*/
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0);
    /*-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
    /*transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}

.bootstrap .tags.focused {
    /*border-color: #66afe9;*/
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);*/
}

.bootstrap .tags .tag-item {
    background: #428bca;
    border: 1px solid #357ebd;
    border-radius: 4px;
    color: #fff;
}

.bootstrap .tags .tag-item.selected {
    background: #d9534f;
    border: 1px solid #d43f3a;
    border-radius: 4px;
    color: #fff;
}

.bootstrap .tags .tag-item button {
    background: transparent;
    color: #000;
    opacity: .4;
}

.bootstrap .autocomplete {
    border-radius: 4px;
    max-width: 
}

.bootstrap .autocomplete .tag-item.selected {
    color: #262626;
    background-color: #e9e9e9;
}
