<div class="row">
    <div class="col-sm-12" >
      <h1 style="padding-top: 10%;">They were together in...</h1>
      <form role="form" ng-submit="fetchResults()">
        <div class="form-group">
          <input type="text"  ng-model="actor_names" class="form-control" id="actor-names" placeholder="Enter name of 2 actors separated by comma">
        </div>
        <button type="submit" class="btn btn-lg btn-default" ng-submit="fetchResults()">Search</button>
      </form>
    </div>
    <hr>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <h3 class="">{{actor_name1}}</h3>
                <img src="{{actor1_pic_url}}" class=" img-circle">
            </div>
            <div class="col-sm-6 col-xs-6">
                <h3 class="">{{actor_name2}}</h3>
                <img src="{{actor2_pic_url}}" class=" img-circle">
            </div>
        </div>
        <hr>
        <div ng-repeat="movie in movies" class="panel panel-default text-left">
          <div class="panel-heading">
            <h3 class="panel-title">{{movie.movie_name}}<small class="pull-right text-muted" style="margin-top: 0px;">Release Year: {{movie.year}}</small></h3>
          </div>
          <div class="panel-body" style="color:#000;">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{actor_name1}}</th>
                        <th>{{actor_name2}}</th>
                        <th><a href="{{movie.link}}" style="color: #000;">IMDB movie link.</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{movie.a1_role}}</td>
                        <td>{{movie.a2_role}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div>
</div>

