<!-- Begin page content -->
<div class="container" style="padding-bottom:0.5em;">
  <div class="row">
      <div class="col-sm-12" >
        <h1 style="padding-top: 1.5em;" class="slide-reveal">They were together in...</h1>
        <form role="form" ng-submit="fetchResults()">
          <div class="form-group">
            <input type="text"  ng-model="actor_names" class="form-control reveal" id="actor-names" placeholder="Enter name of 2 actors separated by comma">
          </div>
          <button type="submit" analytics-on="click" analytics-event="Search Initiated" analytics-category="search for actors" analytics-label="Actors searched for: {{actor_names}}" class="btn btn-lg btn-default" ng-submit="fetchResults()">Search</button>
          <!-- <div class="input-group">
            <input type="text" ng-model="actor_names" class="form-control" id="actor-names" placeholder="Enter name of 2 actors separated by comma">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default" type="button">Go!</button>
            </span>
          </div> -->
        </form>
      </div>
  </div>
</div>
<div class="visible-lg" style="position: fixed;width: 100%;">
  <div class="row">
      <div class="col-sm-12">
          <div class="row">
              <div class="col-sm-3 col-xs-3">
                  <img style="max-height:200px;" src="{{actor1_pic_url}}" class="img-circle">
                  <h5 class="reveal">{{actor_name1}}</h5>
              </div>
              <div class="col-sm-6 col-xs-6"></div>
              <div class="col-sm-3 col-xs-3">
                  <img style="max-height:200px;" src="{{actor2_pic_url}}" class="img-circle">
                  <h5 class="reveal">{{actor_name2}}</h5>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-sm-12">
          <table class="table table-hover">
              <tbody>
                  <tr ng-repeat="movie in movies | unique:'movie_id' | orderBy:'-year'" class="slide-reveal">
                      <th><a href="{{movie.link}}" style="color: #000;">{{movie.movie_name}}</a></th>
                      <th><p><small class="pull-right" style="margin-top: 0px;">{{movie.year}}</small></p></th>
                  </tr>
              </tbody>
          </table>
          <!-- <ul class="list-group">
            <li ng-repeat="movie in movies" class="list-group-item">
              <span class="badge">{{movie.year}}</span>
              <a href="{{movie.link}}" style="color: #000;">{{movie.movie_name}}</a>
            </li>
          </ul> -->
      </div>
  </div>
</div>
